<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <nav>
        <h1>
            My logIN Page
        </h1>

    </nav>
    
  
        <form action="/login" method="post" id="main" >
            <label for="email" class="name">Email:</label>
            <input type="text" name="email" class="input">
            <label for="password" class="name">Password:</label>
            <input type="text" name="password" class="input">
            <input type="submit" value="logIN" id="btn">
            <a href="/register" style="margin-left: 60%; color: wheat;">New User?Register Here</a>
        </form>
    
</body>
</html>