<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: url('https://t4.ftcdn.net/jpg/02/76/25/21/360_F_276252107_rdV920MHGAdDfo49nJUcEoABp37xNak5.jpg');
        }
        #btn{
    background-color: #14000091;
    border-radius: 10px;
    width: 100px;
    height: 20px;
    /* margin-left: 36%; */
    color: wheat;
    box-shadow: 5px 4px 6px #e4ddddb5;
    font-weight: bold;
}
#logout{
    display: flex;
    flex-direction: column;
}
    </style>
</head>
<body>
    <div id="logout">
        <h1 style="color: wheat; font-weight: bold;">
            Welcome  <%=email%>
        </h1>
       
        <form action="/logout" method="get">
            <button type="submit" id="btn">LogOut</button>
        </form>
    </div>

</body>
</html>