<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <nav>
        <h1>
            My SignUp Page
        </h1>
    </nav>
   
    <form action="/register" method="post" id="main" style="height: 390px;">
        <label for="email" class="name">Email:</label>
        <input type="text" name="email" class="input">
        <label for="password" class="name">Password:</label>
        <input type="text" name="password" class="input">
       <label for="confirm-password" class="name">Confirm-Password:</label>
        <input type="text" name="confirm-password" class="input"> 
        <input type="submit" value="SignUp" id="btn">
        <a href="/" style="margin-left: 80%; color: wheat;">logIN</a>
        
    </form>
</body>
</html>